<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gmsj.user.mapper.AuthStoreMapper">
    <resultMap id="BaseResultMap" type="com.gmsj.user.model.AuthStore">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="store_address" property="storeAddress" jdbcType="VARCHAR"/>
        <result column="store_city" property="storeCity" jdbcType="BIGINT"/>
        <result column="cigar_number" property="cigarNumber" jdbcType="VARCHAR"/>
        <result column="store_name" property="storeName" jdbcType="VARCHAR"/>
        <result column="cigar_vip_number" property="cigarVipNumber" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="business_license" property="businessLicense" jdbcType="VARCHAR"/>
        <result column="business_license_img" property="businessLicenseImg" jdbcType="VARCHAR"/>
        <result column="cigar_number_img" property="cigarNumberImg" jdbcType="VARCHAR"/>
    </resultMap>
    <update id="updateXsmAccountAndPass">
        update tbl_auth_store
        set xsm_account = #{xsmAccount},
            xsm_password = #{xsmPassword}
        where user_id = #{userId}
    </update>
</mapper>