<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gmsj.colliery.mapper.LoanBorrowMapper" >

    <select id="selectLoanBorrowList" resultType="com.gmsj.core.business.vo.cigar.LoanBorrowVO">
        SELECT
            lb.id,
            lb.borrow_number,
            s.store_name,
            lb.borrow_period,
            r.name userName,
            u.phone userPhone,
            lb.borrow_amount,
            lb.create_time,
            lb.approve_state
        FROM tbl_loan_borrow lb INNER JOIN tbl_auth_store s ON lb.user_id = s.user_id
            INNER JOIN tbl_auth_realname r ON s.user_id = r.user_id
            INNER JOIN tbl_user u ON lb.user_id = u.id

            <where>
                <if test="status != null">
                    and lb.status = #{status}
                </if>
                <if test="createTimeEnd != null">
                    and (lb.create_time between #{createTimeStart} and #{createTimeEnd})
                </if>
                <if test="userName != null">
                    and r.name like concat('%',#{userName}, '%')
                </if>
                <if test="approveState !=null">
                    and lb.approve_state = #{approveState}
                </if>
            </where>
        ORDER BY lb.create_time DESC



    </select>
    <select id="selectVOById" resultType="com.gmsj.core.business.vo.cigar.LoanBorrowVO">
        SELECT
            lb.id,
            lb.user_id,
            lb.borrow_number,
            lb.borrow_period,
            lb.employee_id,
            s.store_name,
            r.name userName,
            u.phone userPhone,
            lb.borrow_amount,
            lb.create_time,
            lb.approve_state
        FROM tbl_loan_borrow lb INNER JOIN tbl_auth_store s ON lb.user_id = s.user_id
            INNER JOIN tbl_auth_realname r ON s.user_id = r.user_id
            INNER JOIN tbl_user u ON lb.user_id = u.id
        WHERE lb.id = #{id}
    </select>
</mapper>