<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gmsj.system.mapper.GroupMapper">

	<select id="get" resultType="com.gmsj.system.domain.GroupDO">
		select `id`,`group_code`,`group_name` from sys_group where id = #{value}
	</select>

	<select id="list" resultType="com.gmsj.system.domain.GroupDO">
		select `id`,`group_code`,`group_name` from sys_group
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="groupCode != null and groupCode != ''"> and group_code = #{groupCode} </if>
		  		  <if test="groupName != null and groupName != ''"> and group_name = #{groupName} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_group
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="groupCode != null and groupCode != ''"> and group_code = #{groupCode} </if>
		  		  <if test="groupName != null and groupName != ''"> and group_name = #{groupName} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.gmsj.system.domain.GroupDO" useGeneratedKeys="true" keyProperty="id">
		insert into sys_group
		(
			`group_code`, 
			`group_name`
		)
		values
		(
			#{groupCode}, 
			#{groupName}
		)
	</insert>
	 
	<update id="update" parameterType="com.gmsj.system.domain.GroupDO">
		update sys_group 
		<set>
			<if test="groupCode != null">`group_code` = #{groupCode}, </if>
			<if test="groupName != null">`group_name` = #{groupName}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from sys_group where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_group where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>