<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gmsj.user.mapper.BankCardMapper">

    <select id="selectBankCardList" parameterType="Long" resultType="com.gmsj.core.business.vo.user.BankCardVO">
        select
        b.bank_id bankId,
        b.bank_name bankName,
        b.card_name cardName,
        b.card_type cardType,
        b.img_url imgUrl,

        bc.id,
        bc.phone,
        substring( bc.card_number, length( bc.card_number ) - 3 ) cardNumber
        from tbl_bank_card bc, tbl_bank b
        where bc.bank_id = b.id
        and bc.card_state = 1
        and bc.user_id = #{userId}
    </select>
</mapper>